<div class="row">

    <!--Título de Página-->
    <legend>
        <h1 class="font-style">
            <i class="glyphicon glyphicon-scale"></i> Nova Unidade de Medida
        </h1>
    </legend>

    <form class="form-horizontal" ng-submit="save()">
        <div class="form-group">

            <!--Input do Nome-->
            <div class="col-md-6">
                <label class="control-label" for="nome">Nome</label>
                <div ng-class="{'has-error': !unidadedemedida.nome}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-scale"></i></span>
                        <input placeholder="Insira o nome da unidade de medida" maxlength="100" class="form-control" type="text" ng-model="unidadedemedida.nome" id="nome" required/>
                    </div>
                </div>
            </div>

            <!--Input de Observações-->
            <div class="col-md-6">
                <label class="control-label" for="observacoes">Observações</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-book"></i></span>
                        <input placeholder="Informações Adicionais" maxlength="100" class="form-control" type="text" ng-model="unidadedemedida.observacoes" id="observacoes"/>
                    </div>
            </div>

            <!--Botões-->
            <div class="col-md-12">
                <div class="control-group">
                    <br>
                    <button id="save" class="btn btn-success" type="submit" ng-disabled="!unidadedemedida.nome">
                        <span class="fa fa-floppy-o"></span> Salvar
                    </button>
                    <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                        <span class="fa fa-arrow-left"></span> Voltar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>