<div class="container">
    <div class="row">
        <fieldset>
            <div id="legend">
                <legend>
                    <h2>
                        Lista de Unidades de Medidas <a class="btn btn-success pull-right" href="#/unidadesdemedidas/novo">
                        <span class="glyphicon glyphicon-plus"></span><b> Nova Unidade de Medida</b></a>
                    </h2>
                </legend>
            </div>

            <!--Input de Busca-->
            <div class="col-lg-5">
                <div class="input-group">
                    <input autofocus type="text" class="form-control" placeholder="digite o nome da unidade de medida">
                        <span class="input-group-btn">
                            <button class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span> <b>Buscar</b>
                            </button>
                        </span>
                </div>
                <br>
            </div>

            <!--Tabela-->
                <table ng-init="init()" class="table-striped table table-hover table-bordered">
                    <tr>
                        <th class="col-sm-5">Nome</th>
                        <th class="col-sm-7">Observações</th>
                        <!--<th width="50px"></th>-->
                    </tr>
                    <tr ng-repeat="unidadedemedida in unidadesdemedidas">
                        <td><b><a href="#/unidadesdemedidas/detalhe/{{unidadedemedida.id}}">{{unidadedemedida.nome}}</a></b></td>
                        <td><b>{{unidadedemedida.observacoes}}</b></td>
                        <!--<td>-->
                        <!--<a href="" confirmation-needed="Confirmar a exclusão do País?" class="glyphicon glyphicon-trash" ng-click="delete(pais.id)"></a>-->
                        <!--</td>-->
                    </tr>
                </table>
        </fieldset>
    </div>

    <!--Paginação-->
    <nav>
        <div class="clearfix"></div>
        <ul class="pagination pull-right">
            <li><a ng-click="anterior(1)" href=""><span class="glyphicon glyphicon-menu-left"></span></a></li>
            <li class="active"><a ng-click="_pagina(0)" href=""><b>1</b></a></li>
            <li><a ng-click="_pagina(1)" href=""><b>2</b></a></li>
            <li><a ng-click="_pagina(2)" href=""><b>3</b></a></li>
            <li><a ng-click="_pagina(3)" href=""><b>4</b></a></li>
            <li><a ng-click="_pagina(4)" href=""><b>5</b></a></li>
            <li><a ng-click="proximo(0)" href=""><span class="glyphicon glyphicon-menu-right"></span></a></li>
        </ul>
    </nav>
</div>
<hr>