# Created by .gitignore support plugin (hsz.mobi)

#Idea Ignore
target
.idea
*.iml

#Scala Ignore
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

#Java Ignore
# Package Files #
*.jar
*.war
*.ear

# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/





