<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
</head>
<body>
<div class="container">
    <div class="row">
        <fieldset>
            <div id="legend">
                <legend>
                    <h2>
                        Lista de Produtos <a class="btn btn-success pull-right" href="#/produtos/novo">
                        <span class="glyphicon glyphicon-plus"></span> <b>Novo Produto</b></a>
                    </h2>
                </legend>
            </div>

            <div class="col-lg-5">
                <div class="input-group">
                    <input autofocus type="text" class="form-control" placeholder="digite o nome do produto">
                             <span class="input-group-btn">
                                      <button class="btn btn-primary">
                                          <span class="glyphicon glyphicon-search"></span> <b>Buscar</b>
                                      </button>
                            </span>
                </div><!-- /input-group -->
                <br>
            </div>

            <table  ng-init="init()" class="table table-striped table-hover table-bordered">
                <tr>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Preço de Custo $</th>
                    <th>Preço de Venda $</th>
                    <th>Fabricante</th>
                    <th>Fornecedor</th>
                    <th>Categoria</th>
                    <th>Unidade de Medida</th>
                </tr>
                <tr ng-repeat="produto in produtos">
                    <td><b><a href="#/produtos/detalhe/{{produto.id}}">{{produto.descricao}}</a></b></td>
                    <td><b>{{produto.quantidadeEmEstoque}}</b></td>
                    <td><b>{{produto.precoDeCusto}}</b></td>
                    <td><b>{{produto.precoDeVenda}}</b></td>
                    <td><b>{{produto.fabricante.nome}}</b></td>
                    <td><b>{{produto.fornecedor.nomeFantasia}}</b></td>
                    <td><b>{{produto.categoria.descricao}}</b></td>
                    <td><b>{{produto.unidadedemedida.nome}}</b></td>
                    <!--<td>-->
                    <!--<a href="" class="glyphicon glyphicon-trash" ng-click="delete(estado.id)"></a>-->
                    <!--</td>-->
                </tr>
            </table>
        </fieldset>
    </div>
    <div align="center">
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div align="center">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                </div>
            </div>
            <p>&copy; 2014
                <a data-template="assets/modal/informacoesModal.html" bs-modal="modalInformacoes">Powered by Play Framework e AngularJS
                </a>.Todos os direitos reservados.
            </p>
        </div>
    </footer>
</div>
</body>
</html>