<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ajuda</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>SGM - Ajuda</h2>
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a name="atalhos" data-toggle="tab">
                                <span class="glyphicon glyphicon-new-window"></span> Atalhos do Sistema
                            </a>
                        </li>
                        <li>
                            <a name="dicionario" data-toggle="tab">
                                <span class="glyphicon glyphicon-tags"></span> Dicionário de Erros
                            </a>
                        </li>
                        <li>
                            <a name="tab_default_3" data-toggle="tab">
                                <span class="glyphicon glyphicon-book"></span> Manual do Sistema
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="atalhos">
                            <p>
                                <b>Atalhos</b>
                            </p>
                            <ul>
                                <li>  Tecla F1 - Cadastro de Clientes
                                <li>  Tecla F2 - Cadastro de Fornecedores
                                <li>  Tecla F3 - Compra
                                <li>  Tecla F4 - Venda
                                <li>  Tecla F7 - Cadastro de Usuário
                            </ul>
                        </div>
                        <div class="tab-pane" id="dicionario">
                            <p>
                                <b>Dicionário de Erros</b>
                            </p>
                            <p>
                                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                            </p>
                       </div>
                        <div class="tab-pane" id="tab_default_3">
                            <p>
                                Manual
                            </p>
                            <p>
                                Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
    <!--Rodapé-->
    <div align="center">
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">

                    </div>
                </div>
                <p>&copy; 2015 Sistema SGM -
                    <a data-template="assets/modal/informacoesModal.html" bs-modal="modalInformacoes">Powered by Play Framework e AngularJS
                    </a>.Todos os direitos reservados.
                </p>
            </div>
        </footer>
    </div>
</body>
</html>