<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>

<div class="jumbotron">
    <h1>Home</h1>
    <p>AngularJS com Play Framework</p>
    <button type="button" class="btn btn-lg btn-primary" bs-modal="modal">
        Mais Informações
    </button>
</div>

<div align="center">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                </div>
            </div>
            <p>&copy; 2014 <a href="">SGM</a>. Todos os direitos reservados.</p>
        </div>
    </footer>
</div>
</body>
</html>