<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Detalhe da Categoria</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div style="min-height:610px" class="col-md-6 col-md-offset-3">
            <fieldset>
                <div id="legend">
                    <legend>
                        <h2>
                            Atualizar Categoria <a class="btn btn-link pull-right" data-template="assets/modal/ajuda/categoriaModal.html" bs-modal="modalAjuda">
                            <span class="glyphicon glyphicon-info-sign"></span><b> Ajuda</b></a>
                        </h2>
                    </legend>
                </div>
                <form ng-init="init()" class="form-horizontal" ng-submit="update()">
                    <div class="form-group">
                        <!--Input do Descrição-->
                        <div class="col-lg-12">
                            <label class="control-label" for="descricao">Descrição</label>
                            <div ng-class="{'has-error': !categoria.descricao}">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-grain"></i></span>
                                    <input autofocus placeholder="Insira a categoria" maxlength="100" class="form-control" type="text" ng-model="categoria.descricao" id="descricao" required/>
                                </div>
                            </div>
                            <br>
                        </div>
                        <!--Botões-->
                        <div class="col-lg-8">
                            <div class="control-group">
                                <br>
                                <button type="submit" id="save" class="btn btn-success" ng-disabled="!categoria.descricao">
                                    <span class="glyphicon glyphicon-refresh"></span> <b>Atualizar</b>
                                </button>
                                <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                                    <span class="glyphicon glyphicon-arrow-left"></span> <b>Voltar</b>
                                </button>
                                <button  data-animation="am-flip-x"  data-trigger="focus"  type="button" class="btn btn-danger" data-template="assets/popover/confirmacaoPopover.html" bs-popover="popoverConfirmacao">
                                    <span class="glyphicon glyphicon-trash"></span> <b>Remover</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
    <br>
</div>

<!--Rodapé-->
<div align="center">
    <hr>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                </div>
            </div>
            <p>&copy; 2015 Sistema SGM -
                <a data-template="assets/modal/informacoesModal.html" bs-modal="modalInformacoes">Powered by Play Framework e AngularJS
                </a>.Todos os direitos reservados.
            </p>
        </div>
    </footer>
</div>
</body>
</html>