<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cadastrar Cliente</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="well">
            <fieldset>
                <div id="legend">
                    <legend><h2>Cadastrar Cliente</h2></legend>
                </div>
                <form ng-init="init()" class="form-horizontal" ng-submit="save()">
                    <div class="col-lg-8">
                        <label class="control-label" for="nome">Nome *</label>
                        <input maxlength="100" class="form-control" type="text" ng-model="cliente.nome" id="nome" required/>
                    </div>
                    <div class="col-lg-8">
                        <label class="control-label" for="telefone">Telefone *</label>
                        <input maxlength="100" class="form-control" type="text" ng-model="cliente.telefone" id="telefone" required/>
                    </div>
                    <div class="col-lg-8">
                        <label class="control-label" for="rg">Nome *</label>
                        <input maxlength="100" class="form-control" type="text" ng-model="cliente.rg" id="rg" required/>
                    </div>
                    <div class="col-lg-8">
                        <label class="control-label" for="cpf">Nome *</label>
                        <input maxlength="100" class="form-control" type="text" ng-model="cliente.cpf" id="cpf" required/>
                    </div>
                    <div class="col-lg-4">
                        <label class="control-label" for="cliente.bairro">Bairro *</label>
                        <select ng-model="cliente.bairro" class="form-control" ng-options="bairro.nome for bairro in bairros" id="cliente.bairro">
                            <option value="">Selecione</option>
                        </select>
                        <br>
                    </div>
                    <strong>Campos obrigatórios săo marcados (*)</strong>
                    <div class="control-group">
                        <br>
                        <button id="save" class="btn btn-success" type="submit" ng-disabled="!bairro.nome || !bairro.cidade.id">
                            <span class="glyphicon glyphicon-ok"></span> Salvar
                        </button>
                        <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                            <span class="glyphicon glyphicon-arrow-left"></span> Voltar
                        </button>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>
</body>
</html>