<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cadastrar Cliente</title>
</head>
<body>
<div class="container-fluid">
    <div style="min-height:770px" class="row">
        <fieldset>
            <div id="legend">
                <legend>
                    <h2>
                        Cadastrar Cliente <a class="btn btn-link pull-right" data-template="assets/modal/ajuda/clienteModal.html" bs-modal="modalAjuda">
                        <span class="glyphicon glyphicon-info-sign"></span><b> Ajuda</b></a>
                    </h2>
                </legend>
            </div>
            <form ng-init="init()" class="form-horizontal" ng-submit="save()">
                <div class="form-group">
                    <!--Input do Nome-->
                    <div class="col-lg-7">
                        <label class="control-label" for="nome">Nome</label>
                        <div ng-class="{'has-error': !cliente.nome}">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input autofocus placeholder="Insira o nome" maxlength="100" class="form-control" type="text" ng-model="cliente.nome" id="nome" required/>
                            </div>
                        </div>
                    </div>
                    <!--Input do Email-->
                    <div class="col-lg-5">
                        <label class="control-label" for="email">Email</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input placeholder="email@exemplo.com" ng-minlength="3" maxlength="100" class="form-control" type="email" ng-model="cliente.email" id="email"/>
                        </div>
                    </div>
                    <!--Input de Data de Nascimento-->
                    <div class="col-lg-5">
                        <label class="control-label"><i class="fa fa-calendar"></i> Data de Nascimento</label>
                        <div ng-class="{'has-error': datepickerForm.date2.$invalid}">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input placeholder="dd/MM/aaaa" type="text" class="form-control" ng-model="cliente.dataNascimento" data-date-format="dd/MM/yyyy" data-date-type="number" data-min-date="02/10/50" data-max-date="02/10/96" data-autoclose="1" name="date" bs-datepicker>
                            </div>
                        </div>
                    </div>
                    <!--Input Genero-->
                    <div class="col-lg-3">
                        <label class="control-label">Gênero</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
                                <select ng-model="cliente.genero" class="form-control" id="cliente.genero">
                                    <option selected value="">Selecione</option>
                                    <option value="MASCULINO">Masculino</option>
                                    <option value="FEMININO">Feminino</option>
                                </select>
                        </div>
                    </div>
                    <!--Input do Telefone-->
                    <div class="col-lg-2">
                        <label class="control-label" for="telefone">Telefone</label>
                        <div ng-class="{'has-error': !cliente.telefone}">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                                <input ui-br-phone-number placeholder="(__) ____-____" maxlength="15" class="form-control telefone" type="text" ng-model="cliente.telefone" id="telefone" required/>
                            </div>
                        </div>
                    </div>
                    <!--Input do Celular-->
                    <div class="col-lg-2">
                        <label class="control-label" for="celular">Celular</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                            <input ui-br-phone-number placeholder="(__) ____-____" maxlength="15" class="form-control" type="text" ng-model="cliente.celular" id="celular"/>
                        </div>
                    </div>
                    <!--Input do Rg-->
                    <div class="col-lg-3">
                        <label class="control-label" for="rg">Registro Geral</label>
                        <div class="input-group">
                            <span class="input-group-addon"><b>RG</b></span>
                            <input placeholder="000" maxlength="16" class="form-control" type="text" ng-model="cliente.rg" id="rg"/>
                        </div>
                    </div>
                    <!--Input do Cpf-->
                    <div class="col-lg-3">
                        <label class="control-label" for="cpf">Pessoa Física</label>
                        <div ng-class="{'has-error': !cliente.cpf}">
                            <div class="input-group">
                                <span class="input-group-addon"><b>CPF</b></span>
                                <input ui-br-cpf-mask placeholder="___.___.___-__" maxlength="16" class="form-control" type="text" ng-model="cliente.cpf" id="cpf"/>
                            </div>
                        </div>
                    </div>
                    <!--Input do Rua-->
                     <div class="col-lg-6">
                        <label class="control-label" for="rua">Rua</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                            <input placeholder="Insira o logradouro" maxlength="100" class="form-control" type="text" ng-model="cliente.rua" id="rua"/>
                        </div>
                    </div>
                    <!--Input do Numero-->
                    <div class="col-lg-2">
                        <label class="control-label">Número</label>
                        <div class="input-group">
                            <span class="input-group-addon"><b>Nº</b></span>
                            <input ui-number-mask="3" placeholder="0.000" type="text" name="numero" maxlength="6" class="form-control" ng-model="cliente.numero" id="numero"/>
                        </div>
                    </div>
                    <!--Input do CEP-->
                    <div class="col-lg-3">
                        <label class="control-label" for="cep">Código de Endereçamento Postal</label>
                        <div class="input-group">
                            <span class="input-group-addon"><b>CEP</b></span>
                            <input ui-br-cep-mask placeholder="_____-___" maxlength="16" class="form-control" type="text" ng-model="cliente.cep" id="cep"/>
                        </div>
                    </div>
                    <!--Input do Complemento-->
                    <div class="col-lg-4">
                        <label class="control-label" for="complemento">Complemento</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input placeholder="Casa/Apartamento/Conjunto" maxlength="100" class="form-control" type="text" ng-model="cliente.complemento" id="complemento"/>
                        </div>
                    </div>
                    <!--Input do Bairro-->
                    <div class="col-lg-3">
                        <label class="control-label" for="cliente.bairro">Bairro</label>
                        <div ng-class="{'has-error': !cliente.bairro}">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pawn"></i></span>
                                <select ng-model="cliente.bairro" class="form-control" ng-options="bairro.nome for bairro in bairros" id="cliente.bairro">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--Input de Observações-->
                    <div class="col-lg-12">
                        <label class="control-label" for="observacoes">Observações</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                            <textarea maxlength="200" placeholder="Informações Adicionais" style="overflow:auto;resize:none" class="form-control" ng-model="cliente.observacoes" id="observacoes">

                            </textarea>
                        </div>
                        <br>
                    </div>
                    <!--Botões-->
                    <div class="col-lg-8">
                        <br>
                        <div class="control-group">
                            <button id="save" class="btn btn-success" type="submit" ng-disabled="!cliente.nome || !cliente.telefone || !cliente.bairro.id || !cliente.cpf">
                                <span class="glyphicon glyphicon-ok"></span> <b>Salvar</b>
                            </button>
                            <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                                <span class="glyphicon glyphicon-arrow-left"></span> <b>Voltar</b>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
    <br>
</div>

<!--Rodapé-->
<div align="center">
    <hr>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                </div>
            </div>
            <p>&copy; 2015 Sistema SGM -
                <a data-template="assets/modal/informacoesModal.html" bs-modal="modalInformacoes">Powered by Play Framework e AngularJS
                </a>.Todos os direitos reservados.
            </p>
        </div>
    </footer>
</div>
</body>
</html>