<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
</head>
<body>
<div class="container">
    <div class="row">
        <fieldset>
            <div id="legend">
                <legend>
                    <h2>
                        Lista de Clientes <a class="btn btn-success pull-right" href="#/clientes/novo">
                        <span class="glyphicon glyphicon-plus"></span><b> Novo Cliente</b></a>
                    </h2>
                </legend>
            </div>

            <div class="col-lg-5">
                <div class="input-group">
                    <input autofocus type="text" class="form-control" placeholder="digite o nome do cliente">
                         <span class="input-group-btn">
                              <button class="btn btn-primary">
                                  <span class="glyphicon glyphicon-search"></span> <b>Buscar</b>
                              </button>
                        </span>
                </div>
                <br>
            </div>

        <table  ng-init="init()" class="table table-striped table-hover table-bordered">
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Celular</th>
                <th>Email</th>
                <th>RG</th>
                <th>CPF</th>
                <th>CEP</th>
                <th>Bairro</th>
            </tr>
            <tr ng-repeat="cliente in clientes">
                <td><b><a href="#/clientes/detalhe/{{cliente.id}}">{{cliente.nome}}</a></b></td>
                <td><b>{{cliente.telefone}}</b></td>
                <td><b>{{cliente.celular}}</b></td>
                <td><b>{{cliente.email}}</b></td>
                <td><b>{{cliente.rg}}</b></td>
                <td><b>{{cliente.cpf}}</b></td>
                <td><b>{{cliente.cep}}</b></td>
                <td><b>{{cliente.bairro.nome}}</b></td>
                <!--<td>-->
                <!--<a href="" class="glyphicon glyphicon-trash" ng-click="delete(estado.id)"></a>-->
                <!--</td>-->
            </tr>
        </table>
        </fieldset>
    </div>
    <div align="center">
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>