<div class="row">

    <!-- Título da Página-->
    <legend>
        <h1 class="font-style">
            <i class="fa fa-male"></i> Lista de Clientes <a class="btn btn-success pull-right" href="#/clientes/novo">
            <span class="fa fa-plus"></span> Novo Cliente</a>
        </h1>
    </legend>

    <!--Input de Busca-->
    <div class="col-md-5 input-group">
        <input ng-model="nomeFiltro" type="search" class="form-control" placeholder="digite o nome do cliente ou o CPF">
            <span class="input-group-btn">
                <button ng-disabled="!nomeFiltro" class="btn btn-primary" ng-click="busca();"><span class="fa fa-search"></span> Filtrar</button>
                <button class="btn btn-default" ng-click="init();">Limpar</button>
            </span>
    </div>

    <div class="pull-right">
        <h4 class="font-style">Total de <b>{{quantidade}}</b> Registros</h4>
    </div>

    <h4 class="font-style" ng-show="clientes.length == 0">Nenhum registro encontrado</h4>

    <!--Tabela-->
    <table ng-show="clientes.length" ng-init="init()" class="table table-striped table-hover table-bordered">
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Celular</th>
            <th>Email</th>
            <th>RG</th>
            <th>CPF</th>
            <th>CEP</th>
            <th>Bairro</th>
            <th>Situação</th>
        </tr>
        <tr ng-repeat="cliente in clientes">
            <td><b><a href="#/clientes/detalhe/{{cliente.id}}">{{cliente.nome}}</a></b></td>
            <td>{{cliente.telefone}}</td>
            <td>{{cliente.celular}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.rg}}</td>
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.cep}}</td>
            <td>{{cliente.bairro.nome}}</td>
            <td>{{cliente.situacao}}</td>
        </tr>
    </table>
</div>