<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cadastrar Usuário</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <fieldset>
                <div id="legend">
                    <legend>
                        <h2>
                            Cadastrar Usuário <a class="btn btn-link pull-right" data-template="assets/modal/ajuda/usuarioModal.html" bs-modal="modalAjuda">
                            <span class="glyphicon glyphicon-info-sign"></span><b> Ajuda</b></a>
                        </h2>
                    </legend>
                </div>
                <form class="form-horizontal" ng-submit="save()">
                    <div class="form-group">
                        <!--Input do Login-->
                        <div class="col-lg-5">
                            <label class="control-label" for="login">Login</label>
                            <div ng-class="{'has-error': !usuario.login}">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input autofocus placeholder="Insira o login" maxlength="100" class="form-control" type="text" ng-model="usuario.login" id="login" required/>
                                </div>
                            </div>
                        </div>
                        <!--Input do Senha-->
                        <div class="col-lg-4">
                            <label class="control-label" for="senha">Senha</label>
                            <div ng-class="{'has-error': !usuario.senha}">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-certificate"></i></span>
                                    <input placeholder="insira a senha" maxlength="16" class="form-control" type="password" ng-model="usuario.senha" id="senha"/>
                                </div>
                            </div>
                        </div>
                        <!--Input do Privilégio-->
                        <div class="col-lg-3">
                            <label class="control-label">Privilégio</label>
                            <div ng-class="{'has-error': !usuario.privilegio}">
                                <select ng-model="usuario.privilegio" class="form-control" id="privilegio">
                                    <option selected value="">Selecione</option>
                                    <option value=1>Operador</option>
                                    <option value=2>Supervisor</option>
                                    <option value=3>Administrador</option>
                                </select>
                            </div>
                            <br>
                        </div>
                        <!--Botões-->
                        <div class="col-lg-8">
                            <div class="control-group">
                                <br>
                                <button id="save" class="btn btn-success" type="submit" ng-disabled="!usuario.login || !usuario.senha || !usuario.privilegio">
                                    <span class="glyphicon glyphicon-ok"></span> <b>Salvar</b>
                                </button>
                                <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                                    <span class="glyphicon glyphicon-arrow-left"></span> <b>Voltar</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
    <br>
</div>
<div align="center">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                </div>
            </div>
            <p>&copy; 2014
                <a data-template="assets/modal/informacoesModal.html" bs-modal="modalInformacoes">Powered by Play Framework e AngularJS
                </a>.Todos os direitos reservados.
            </p>
        </div>
    </footer>
</div>
</body>
</html>