<div class="row">

    <!-- Título da Página-->
    <legend>
        <h1 class="font-style">
            <i class="fa fa-users"></i> Detalhe do Usuário
            <button type="button" class="btn btn-danger pull-right" ng-click="open('sm')">
                <span class="fa fa-trash"></span> Remover
            </button>
        </h1>
    </legend>

    <!-- Modal de confirmação-->
    <script type="text/ng-template" id="modalConfirmacao.html">
        <div class="modal-header">
            <h3 align="center" class="modal-title">Confirmação:</h3>
        </div>
        <div align="center" class="modal-body">
            Deseja remover o usuário?
        </div>
        <div class="modal-footer">
            <button id="delete" class="btn btn-warning" ng-click="delete()"><span class="fa fa-check"></span> Sim</button>
            <button class="btn btn-default" ng-click="cancelModal()"><span class="fa fa-times"></span> Cancelar</button>
        </div>
    </script>

    <form ng-init="init()" class="form-horizontal" ng-submit="update()">
        <div class="form-group">

            <!--Input do Email-->
            <div class="col-md-5">
                <label class="control-label" for="usuario.email">Email</label>
                <div ng-class="{'has-error': !usuario.email}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input placeholder="Insira o email" maxlength="100" class="form-control" type="text" ng-model="usuario.email" id="usuario.email" required/>
                    </div>
                </div>
            </div>

            <!--Input do Senha-->
            <div class="col-md-3">
                <label class="control-label" for="senha">Senha</label>
                <div ng-class="{'has-error': !usuario.senha}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input placeholder="insira a senha" maxlength="16" class="form-control" type="password" ng-model="usuario.senha" id="senha"/>
                    </div>
                </div>
            </div>

            <!--Input do Privilégio-->
            <div class="col-md-4">
                <label class="control-label">Privilégio</label>
                <div ng-class="{'has-error': !usuario.privilegio}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></span>
                        <select ng-model="usuario.privilegio" class="form-control" id="privilegio">
                            <option value=1>1 - Operador</option>
                            <option value=2>2 - Administrador</option>
                        </select>
                    </div>
                </div>
            </div>

            <!--Botões-->
            <div class="col-md-12">
                <br>
                <div class="control-group">
                    <button type="submit" id="save" class="btn btn-primary" ng-disabled="!usuario.email || !usuario.senha || !usuario.privilegio">
                        <span class="fa fa-refresh"></span> Atualizar
                    </button>
                    <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                        <span class="fa fa-arrow-left"></span> Voltar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>