<div class="popover">
        <div class="arrow"></div>
        <h3 align="center" class="popover-title" ng-bind="title"></h3>
        <div class="popover-content">
            <form name="popoverForm">
                <div align="center">
                    <h4>SGM</h4>
                    Sistema de Gestão de Mercados Luana<br/>
                    <br>
                    <b>Versão 0.0.0</b>
                </div>
                <div align="center" class="form-actions">
                    <br>
                    <button type="button" class="btn btn-primary" ng-click="$hide()"><b>Ok</b></button>
                    <!--<button type="button" class="btn btn-primary" ng-click="popover.saved=true;$hide()">Save changes</button>-->
                </div>
            </form>
        </div>
</div>
