<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div align="center" class="modal-header">
                <!--<button type="button" class="close" ng-click="$hide()">&times;</button>-->
                <b><h3 class="modal-title">Ajuda</h3></b>
            </div>
            <div align="center" class="modal-body">
                <h5><b>1. Os campos em vermelhos são obrigatórios</b></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$hide()">Fechar</button>
            </div>
        </div>
    </div>
</div>