<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Detalhe do País</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <fieldset>
                <div id="legend">
                    <legend>
                        <h2>
                            Atualizar País <a class="btn btn-link pull-right" data-template="assets/modal/ajuda/paisModal.html" bs-modal="modalAjuda">
                            <span class="glyphicon glyphicon-info-sign"></span><b> Ajuda</b></a>
                        </h2>
                    </legend>
                </div>
                <form ng-init="init()" class="form-horizontal" ng-submit="update()">
                    <div class="form-group">
                        <!--Input do Nome-->
                        <div class="col-lg-8">
                            <label class="control-label" for="nome">Nome</label>
                            <div ng-class="{'has-error': !pais.nome}">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                                    <input autofocus placeholder="Insira o nome do País" maxlength="100" class="form-control" type="text" ng-model="pais.nome" id="nome" required/>
                                </div>
                            </div>
                        </div>
                        <!--Input do DDI-->
                        <div class="col-lg-4">
                            <label class="control-label" for="ddi">Discagem</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                                <input placeholder="Insira o DDI" maxlength="4" class="form-control" type="text" ng-model="pais.ddi" id="ddi"/>
                            </div>
                            <br>
                        </div>
                        <!--Botões-->
                        <div class="col-lg-8">
                            <div class="control-group">
                                <br>
                                <button type="submit" id="save" class="btn btn-success" ng-disabled="!pais.nome">
                                    <span class="glyphicon glyphicon-refresh"></span> <b>Atualizar</b>
                                </button>
                                <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                                    <span class="glyphicon glyphicon-arrow-left"></span> <b>Voltar</b>
                                </button>
                                <button  data-animation="am-flip-x"  data-trigger="focus"  type="button" class="btn btn-danger" data-template="assets/popover/confirmacaoPopover.html" bs-popover="popoverConfirmacao">
                                    <span class="glyphicon glyphicon-trash"></span> <b>Remover</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>
</body>
</html>