<div class="row">
    <legend>
        <h1 class="font-style">
            <i class="fa fa-flag"></i> Detalhe do País
            <button type="button" class="btn btn-danger pull-right" ng-click="open('sm')">
                <span class="fa fa-trash"></span> Remover
            </button>
        </h1>
    </legend>
    <script type="text/ng-template" id="modalConfirmacao.html">
        <div class="modal-header">
            <h3 align="center" class="modal-title">Confirmação:</h3>
        </div>
        <div align="center" class="modal-body">
            Deseja remover o país?
        </div>
        <div class="modal-footer">
            <button id="delete" class="btn btn-warning" ng-click="delete()"><span class="fa fa-check"></span> Sim</button>
            <button class="btn btn-default" ng-click="cancelModal()"><span class="fa fa-times"></span> Cancelar</button>
        </div>
    </script>
    <form ng-init="init()" class="form-horizontal" ng-submit="update()">
        <div class="form-group">

            <!--Input do Nome-->
            <div class="col-md-5">
                <label class="control-label" for="nome">Nome</label>
                <div ng-class="{'has-error': !pais.nome}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-flag"></i></span>
                        <input autofocus placeholder="Insira o nome do país" maxlength="100" class="form-control" type="text" ng-model="pais.nome" id="nome" required/>
                    </div>
                </div>
            </div>

            <!--Input do ddi-->
            <div class="col-md-3">
                <label class="control-label" for="ddi">DDI</label>
                <div ng-class="{'has-error': !pais.ddi}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        <input placeholder="+000" ng-minlength="2" maxlength="4" class="form-control" type="text" ng-model="pais.ddi" id="ddi"/>
                    </div>
                </div>
            </div>

            <!--Botões-->
            <div class="col-md-12">
                <div class="control-group">
                    <br>
                    <button id="update" class="btn btn-primary" type="submit" ng-disabled="!pais.nome || !pais.ddi">
                        <span class="fa fa-refresh"></span> Atualizar
                    </button>
                    <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                        <span class="fa fa-arrow-left"></span> Voltar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>