<div class="row">

    <!-- Título da Página-->
    <legend>
        <h1 class="font-style">
            <i class="fa fa-flag"></i> Lista de Países<a class="btn btn-success pull-right" href="#/paises/novo">
            <span class="fa fa-plus"></span> Novo País</a>
        </h1>
    </legend>

    <!--Input de Busca-->
    <div class="col-md-5 input-group">
        <input ng-model="nomeFiltro" type="search" class="form-control" placeholder="digite o nome do país ou o DDI">
            <span class="input-group-btn">
                <button ng-disabled="!nomeFiltro" class="btn btn-primary" ng-click="busca();"><span class="fa fa-search"></span> Filtrar</button>
                <button class="btn btn-default" ng-click="init();">Limpar</button>
            </span>
    </div>

    <div class="pull-right">
        <h4 class="font-style">Total de <b>{{quantidade}}</b> Registros</h4>
    </div>

    <h4 class="font-style" ng-show="paises.length == 0">Nenhum registro encontrado</h4>

    <!--Tabela-->
    <table ng-show="paises.length" ng-init="init()" class="table-striped table table-hover table-bordered">
        <tr>
            <th>Nome</th>
            <th>DDI</th>
        </tr>
        <tr ng-repeat="pais in paises">
            <td><b><a href="#/paises/detalhe/{{pais.id}}">{{pais.nome}}</a></b></td>
            <td>{{pais.ddi}}</td>
        </tr>
    </table>
</div>