<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Detalhe da Cidade</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <fieldset>
                <div id="legend">
                    <legend>
                        <h2>
                            Atualizar Cidade <a class="btn btn-link pull-right" data-template="assets/modal/ajuda/cidadeModal.html" bs-modal="modalAjuda">
                            <span class="glyphicon glyphicon-info-sign"></span><b> Ajuda</b></a>
                        </h2>
                    </legend>
                </div>
                <form ng-init="init()" class="form-horizontal" ng-submit="update()">
                    <div class="form-group">
                        <!--Input do Nome-->
                        <div class="col-lg-6">
                            <label class="control-label" for="nome">Nome</label>
                            <div ng-class="{'has-error': !cidade.nome}">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                                    <input maxlength="100" class="form-control" type="text" ng-model="cidade.nome" id="nome" required/>
                                </div>
                            </div>
                        </div>
                        <!--Input do DDD-->
                        <div class="col-lg-2">
                            <label class="control-label" for="ddd">DDD</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                                <input maxlength="3" class="form-control" type="text" ng-model="cidade.ddd" id="ddd"/>
                            </div>
                        </div>
                        <!--Input do Cidade-->
                        <div class="col-lg-4">
                            <label class="control-label" for="cidade.estado">Estado</label>
                            <div ng-class="{'has-error': !cidade.estado}">
                                <select ng-model="cidade.estado" class="form-control" ng-options="estado.nome for estado in estados" id="cidade.estado">
                                    <option disabled ng-show="!cidade.estado.id" value="">{{cidade.estado.nome}}</option>
                                </select>
                            </div>
                            <br>
                        </div>
                        <!--Input dos Botões-->
                        <div class="col-lg-8">
                            <div class="control-group">
                                <br>
                                <button type="submit" id="save" class="btn btn-success" ng-disabled="!cidade.nome || !cidade.estado.id">
                                    <span class="glyphicon glyphicon-refresh"></span> <b>Atualizar</b>
                                </button>
                                <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                                    <span class="glyphicon glyphicon-arrow-left"></span> <b>Voltar</b>
                                </button>
                                <button type="button" class="btn btn-danger" data-template="assets/modal/confirmacaoModal.html" bs-modal="confirmacaoModal">
                                    <span class="glyphicon glyphicon-trash"></span> <b>Remover</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>
</body>
</html>