<div class="row">

    <!-- Header-->
    <legend>
        <h1 class="font-style">
            <i class="fa fa-flag-checkered"></i> Lista de Cidades<a class="btn btn-success pull-right" href="#/cidades/novo">
            <span class="fa fa-plus"></span> Nova Cidade</a>
        </h1>
    </legend>

    <!--Input de Busca-->
    <div class="col-md-5 input-group">
        <input ng-model="nomeFiltro" autofocus type="search" class="form-control" placeholder="digite o nome da cidade ou o nome do estado">
            <span class="input-group-btn">
                <button ng-disabled="!nomeFiltro" class="btn btn-primary" ng-click="busca();"><span class="fa fa-search"></span> Filtrar</button>
                <button class="btn btn-default" ng-click="init();">Limpar</button>
            </span>
    </div>

    <div class="pull-right">
        <h4 class="font-style">Total de <b>{{quantidade}}</b> Registros</h4>
    </div>

    <h4 class="font-style" ng-show="cidades.length == 0">Nenhum registro encontrado</h4>

    <!--Tabela-->
    <table ng-show="cidades.length" ng-init="init()" class="table-striped table table-hover table-bordered">
        <tr>
            <th>Nome</th>
            <th>DDD</th>
            <th>Estado</th>
        </tr>
        <tr ng-repeat="cidade in cidades">
            <td><b><a href="#/cidades/detalhe/{{cidade.id}}">{{cidade.nome}}</a></b></td>
            <td>{{cidade.ddd}}</td>
            <td>{{cidade.estado.nome}}</td>
        </tr>
    </table>
</div>