<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cadastrar Fabricante</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div style="min-height:770px" class="col-md-6 col-md-offset-3">
            <fieldset>
                <div id="legend">
                    <legend>
                        <h2>
                            Cadastrar Fabricante <a class="btn btn-link pull-right" data-template="assets/modal/ajuda/fabricanteModal.html" bs-modal="modalAjuda">
                            <span class="glyphicon glyphicon-info-sign"></span><b> Ajuda</b></a>
                        </h2>
                    </legend>
                </div>
                <form class="form-horizontal" ng-submit="save()">
                    <div class="form-group">
                        <!--Input do Nome-->
                        <div class="col-lg-12">
                            <label class="control-label" for="nome">Nome</label>
                            <div ng-class="{'has-error': !fabricante.nome}">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-ice-lolly"></i></span>
                                    <input autofocus placeholder="Insira o nome do Fabricante" maxlength="100" class="form-control" type="text" ng-model="fabricante.nome" id="nome" required/>
                                </div>
                            </div>
                        </div>
                        <!--Input de Observações-->
                        <div class="col-lg-12">
                            <label class="control-label" for="observacoes">Observações</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                                <textarea maxlength="200" placeholder="Informações Adicionais" style="overflow:auto;resize:none" class="form-control" ng-model="fabricante.observacoes" id="observacoes">

                                </textarea>
                            </div>
                            <br>
                        </div>
                        <!--Botões-->
                        <div class="col-lg-8">
                            <div class="control-group">
                                <br>
                                <button id="save" class="btn btn-success" type="submit" ng-disabled="!fabricante.nome">
                                    <span class="glyphicon glyphicon-ok"></span> <b>Salvar</b>
                                </button>
                                <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                                    <span class="glyphicon glyphicon-arrow-left"></span> <b>Voltar</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
    <br>
</div>

<!--Rodapé-->
<div align="center">
    <hr>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                </div>
            </div>
            <p>&copy; 2015 Sistema SGM -
                <a data-template="assets/modal/informacoesModal.html" bs-modal="modalInformacoes">Powered by Play Framework e AngularJS
                </a>.Todos os direitos reservados.
            </p>
        </div>
    </footer>
</div>
</body>
</html>