<div class="row">

    <!-- Título da Página-->
    <legend>
        <h1 class="font-style">
            <i class="glyphicon glyphicon-ice-lolly"></i> Lista de Fabricantes<a class="btn btn-success pull-right" href="#/fabricantes/novo">
            <span class="fa fa-plus"></span> Novo Fabricante</a>
        </h1>
    </legend>

    <!--Input de Busca-->
    <div class="col-md-5 input-group">
        <input ng-model="nomeFiltro" type="search" class="form-control" placeholder="digite o nome do fabricante">
            <span class="input-group-btn">
                <button ng-disabled="!nomeFiltro" class="btn btn-primary" ng-click="busca();"><span class="fa fa-search"></span> Filtrar</button>
                <button class="btn btn-default" ng-click="init();">Limpar</button>
            </span>
    </div>

    <div class="pull-right">
        <h4 class="font-style">Total de <b>{{quantidade}}</b> Registros</h4>
    </div>

    <h4 class="font-style" ng-show="fabricantes.length == 0">Nenhum registro encontrado</h4>

    <!--Tabela-->
    <table ng-show="fabricantes.length" ng-init="init()" class="table-striped table table-hover table-bordered">
        <tr>
            <th>Nome</th>
            <th>Observações</th>
        </tr>
        <tr ng-repeat="fabricante in fabricantes">
            <td><b><a href="#/fabricantes/detalhe/{{fabricante.id}}">{{fabricante.nome}}</a></b></td>
            <td>{{fabricante.observacoes}}</td>
        </tr>
    </table>
</div>
