<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lista de Fornecedores</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <fieldset>
            <div id="legend">
                <legend>
                    <h2>
                        Lista de Fornecedores <a class="btn btn-success pull-right" href="#/fornecedores/novo">
                        <span class="glyphicon glyphicon-plus"></span><b> Novo Fornecedor</b></a>
                    </h2>
                </legend>
            </div>

            <!--Input de Busca-->
            <div class="col-lg-5">
                <div class="input-group">
                    <input autofocus type="text" class="form-control" placeholder="digite o nome do fornecedor">
                             <span class="input-group-btn">
                                      <button class="btn btn-primary">
                                          <span class="glyphicon glyphicon-search"></span> <b>Buscar</b>
                                      </button>
                            </span>
                </div>
                <br>
            </div>

            <!--Tabela-->
            <table  ng-init="init()" class="table table-striped table-hover table-bordered">
                <tr>
                    <th>Nome Fantasia</th>
                    <th>Razão Social</th>
                    <th>Telefone</th>
                    <th>Fax</th>
                    <th>CNPJ</th>
                    <th>Inscrição Estadual</th>
                    <th>CEP</th>
                    <th>Bairro</th>
                </tr>
                <tr ng-repeat="fornecedor in fornecedores">
                    <td><b><a href="#/fornecedores/detalhe/{{fornecedor.id}}">{{fornecedor.nomeFantasia}}</a></b></td>
                    <td><b>{{fornecedor.razaoSocial}}</b></td>
                    <td><b>{{fornecedor.telefone}}</b></td>
                    <td><b>{{fornecedor.fax}}</b></td>
                    <td><b>{{fornecedor.cnpj}}</b></td>
                    <td><b>{{fornecedor.inscricaoEstadual}}</b></td>
                    <td><b>{{fornecedor.cep}}</b></td>
                    <td><b>{{fornecedor.bairro.nome}}</b></td>
                    <!--<td>-->
                    <!--<a href="" class="glyphicon glyphicon-trash" ng-click="delete(estado.id)"></a>-->
                    <!--</td>-->
                </tr>
            </table>
        </fieldset>
    </div>

    <!--Paginação-->
    <div class="clearfix"></div>
    <ul class="pagination pull-right">
        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-menu-left"></span></a></li>
        <li class="active"><a href=""><b>1</b> <span class="sr-only">(current)</span></a></li>
        <li><a href=""><b>2</b></a></li>
        <li><a href=""><b>3</b></a></li>
        <li><a href=""><b>4</b></a></li>
        <li><a href=""><b>5</b></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-menu-right"></span></a></li>
    </ul>
</div>
<hr>
<!--Rodapé-->
<div align="center">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                </div>
            </div>
            <p>&copy; 2015 Sistema SGM -
                <a data-template="assets/modal/informacoesModal.html" bs-modal="modalInformacoes">Powered by Play Framework e AngularJS
                </a>.Todos os direitos reservados.
            </p>
        </div>
    </footer>
</div>
</body>
</html>