@(username : String)(privilegio : Integer)
<html ng-app="mercado">
<head>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <!--Bootstrap-->
    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css"/>

    <!--Menu-->
    <link rel="stylesheet" href="assets/stylesheets/menu.css"/>
    <link rel="stylesheet" href="assets/stylesheets/stylemenu.css"/>

    <!-- ngDialog-->
    <link rel="stylesheet" href="assets/bower_components/ngDialog/css/ngDialog.css"/>

    <!-- Font Style-->
    <link rel="stylesheet" href="assets/stylesheets/main.css"/>

    <!--CSS Personalisados-->
    <link rel="stylesheet" href="assets/stylesheets/help.css"/>

    <!--Awesome Icons-->
    <link rel="stylesheet" href="assets/bower_components/font-awesome/css/font-awesome.css"/>

    <!--Toastr-->
    <link rel="stylesheet" href="assets/bower_components/angular-toastr/dist/angular-toastr.css"/>

    <!--Motion-->
    <link rel="stylesheet" href="assets/bower_components/angular-motion/dist/angular-motion.css"/>

    <!--Bootstrap Table-->
    <link rel="stylesheet" href="assets/bower_components/bootstrap-table/src/bootstrap-table.css"/>

    <!-- angular loading-bar-->
    <link rel='stylesheet' href='assets/bower_components/angular-loading-bar/build/loading-bar.css' type='text/css' media='all' />

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>SGM - Sistema de Gestão de Mercados</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a data-match-route href="#/" class="navbar-brand">
                <i class="fa fa-shopping-cart"></i> Início
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @if(username){
                    @if(privilegio != 1){
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="fa fa-globe"> Endereços</span> <span class="fa fa-caret-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/#/paises"><span class="fa fa-flag"></span> Países</a></li>
                                <li><a href="/#/estados"><span class="fa fa-flag-o"></span> Estados</a></li>
                                <li><a href="/#/cidades"><span class="fa fa-flag-checkered"></span> Cidades</a></li>
                                <li><a href="/#/bairros"><span class="fa fa-map-marker"></span> Bairros</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="fa fa-th-large"> Estoque</span> <span class="fa fa-caret-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/#/unidadesdemedidas"><span class="glyphicon glyphicon-scale"></span> Unidade de Medida</a></li>
                                <li><a href="/#/fabricantes"><span class="glyphicon glyphicon-ice-lolly"></span> Fabricante</a></li>
                                <li><a href="/#/categorias"><span class="glyphicon glyphicon-grain"></span> Categoria</a></li>
                                <li><a href="/#/produtos"><span class="glyphicon glyphicon-apple"></span> Produtos</a></li>
                            </ul>
                        </li>
                            <li><a href="/#/clientes"><span class="fa fa-male"></span> Clientes</a></li>
                            <li><a href="/#/fornecedores"><span class="fa fa-truck"></span> Fornecedores</a></li>
                    }
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if(username){
                    @if(privilegio != 1){
                        <li><a href="/#/compras"> <span class="fa fa-cubes"></span> Compra</a></li>
                    }
                    <li><a href="/#/venda"> <span class="fa fa-money"></span> Venda</a></li>
                }
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="label label-success">@username</span>   <span class="fa fa-cog"></span> <span class="fa fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        @if(username){
                            @if(privilegio != 1){
                                <li class="dropdown-header">Relatórios</li>
                                <li><a href="/#/relatorioscompras">
                                    <span class="fa fa-bar-chart"></span> Compras</a>
                                </li>
                                <li><a href="/#/relatoriosvendas">
                                    <span class="fa fa-bar-chart"></span> Vendas</a>
                                </li>
                                <li><a href="/#/logs">
                                    <span class="fa fa-file-text"></span> Logs do Sistema</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/#/usuarios">
                                    <span class="fa fa-users"></span> Usuários</a>
                                </li>
                                <li class="divider"></li>
                            }
                        }
                        <li class="dropdown-header">Autenticação</li>
                        @if(!username){
                            <li><a href="/login">
                                <span class="fa fa-sign-in"></span> Entrar</a>
                            </li>
                        }
                        @if(username){
                            <li><a href="/logout">
                                <span class="fa fa-sign-out"></span> Sair</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">

    <!-- View do Angular-->
    <div ng-view="">

    </div>

    <!--Rodapé-->
    <div class="row">
        <hr>
        <footer class="footer">
            <p class="text-center">&copy; 2015 Sistema de Gestão de Mercados Luana -
                <b>Powered by Play Framework and AngularJS.
                </b> Todos os direitos reservados.
            </p>
        </footer>
    </div>
</div>

<!--Jquery-->
<script src="assets/bower_components/jquery/dist/jquery.js"></script>

<!--Javascripts Personalisados-->
<script src="assets/javascripts/keymap.js"></script>
<script src="assets/javascripts/tabs.js"></script>
<script src="assets/javascripts/pagination.js"></script>

<!--AngularJS-->
<script src="assets/bower_components/angular/angular.js"></script>
<script src="assets/bower_components/angular-translate/angular-translate.js"></script>
<script src="assets/bower_components/angular-resource/angular-resource.js"></script>
<script src="assets/bower_components/angular-route/angular-route.js"></script>
<script src="assets/bower_components/angular-animate/angular-animate.js"></script>
<script src="assets/bower_components/angular-toastr/dist/angular-toastr.js"></script>

<!--Angular UI-->
<script src="assets/bower_components/angular-ui-utils/ui-utils.js"></script>

<!--Bootstrap-->
<script src="assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>

<!--ng Dialog-->
<script src="assets/bower_components/ngDialog/js/ngDialog.js"></script>

<!--Toastr-->
<script src="assets/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>

<!--UI Boostrap-->
<script src="assets/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<!-- angular loading-bar-->
<script src="assets/bower_components/angular-loading-bar/build/loading-bar.js"></script>

<!--Angular Strap-->
<script src="assets/bower_components/angular-strap/dist/angular-strap.js"></script>
<script src="assets/bower_components/angular-strap/dist/angular-strap.tpl.js"></script>

<script src="assets/bower_components/bootstrap-table/src/bootstrap-table.js"></script>
<script src="assets/bower_components/bootstrap-table/src/locale/bootstrap-table-pt-BR.js"></script>

<!--Mascaras Input-->
<script src="assets/bower_components/angular-input-masks/releases/masks.js"></script>
<script src="assets/bower_components/angular-ui-utils/ui-utils.js"></script>

<!--Validações-->
<script src="assets/bower_components/br-validations/releases/br-validations.js"></script>

<!--app-->
<script src="assets/app/app.js"></script>

<!--Servicos-->
<script src="assets/app/services/EnderecoService.js"></script>
<script src="assets/app/services/baseUrl.js"></script>

<!--Locale-->
<script src="assets/bower_components/angular-i18n/angular-locale_pt-br.js"></script>

<!--Controllers AngularJS-->
<script src="assets/app/controllers/HomeController.js"></script>
<script src="assets/app/controllers/LogsController.js"></script>
<script src="assets/app/controllers/AutenticacaoController.js"></script>
<script src="assets/app/controllers/AjudaController.js"></script>
<script src="assets/app/controllers/PaisController.js"></script>
<script src="assets/app/controllers/EstadoController.js"></script>
<script src="assets/app/controllers/CidadeController.js"></script>
<script src="assets/app/controllers/BairroController.js"></script>
<script src="assets/app/controllers/ClienteController.js"></script>
<script src="assets/app/controllers/FornecedorController.js"></script>
<script src="assets/app/controllers/CategoriaController.js"></script>
<script src="assets/app/controllers/FabricanteController.js"></script>
<script src="assets/app/controllers/UnidadeDeMedidaController.js"></script>
<script src="assets/app/controllers/ProdutoController.js"></script>
<script src="assets/app/controllers/UsuarioController.js"></script>
<script src="assets/app/controllers/CompraController.js"></script>
</body>
</html>