@(username: String)
<!DOCTYPE html>
<html ng-app="mercado">
<head>
    <!--Bootstrap-->
    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css"/>

    <!--CSS Personalisados-->
    <link rel="stylesheet" href="assets/stylesheets/help.css"/>
    <link rel="stylesheet" href="assets/stylesheets/stylemenu.css"/>
    <link rel="stylesheet" href="assets/stylesheets/menu.css"/>

    <!--Awesome-->
    <link rel="stylesheet" href="assets/stylesheets/awesome/css/font-awesome.css"/>

    <!--Toastr-->
    <link rel="stylesheet" href="assets/bower_components/angular-toastr/dist/angular-toastr.css"/>

    <!--Motion-->
    <link rel="stylesheet" href="assets/bower_components/angular-motion/dist/angular-motion.css"/>

    <!--Bootstrap Table-->
    <link rel="stylesheet" href="assets/bower_components/bootstrap-table/src/bootstrap-table.css"/>


    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Sistema de Mercados</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <i class="glyphicon glyphicon-shopping-cart"></i> Mercado
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @if(username){
                    <li><a href="/#/clientes"> <span class="glyphicon glyphicon-user"></span> Cliente</a></li>
                    <li><a href="/#/fornecedores"> <span class="glyphicon glyphicon-oil"></span> Fornecedor</a></li>
                    <li><a href="/#/usuarios"> <span class="glyphicon glyphicon-thumbs-up"></span> Usuários</a></li>
                <li class="dropdown" is-open="status.isopen">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-map-marker"></span> Endereços <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Cadastro</li>
                        <li><a href="/#/paises">
                            <span class="glyphicon glyphicon-king"></span> País</a></li>
                        <li><a href="/#/estados">
                            <span class="glyphicon glyphicon-queen"></span> Estado</a></li>
                        <li><a href="/#/cidades">
                            <span class="glyphicon glyphicon-bishop"></span> Cidade</a></li>
                        <li><a href="/#/bairros">
                            <span class="glyphicon glyphicon-pawn"></span> Bairro</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-stats"></span> Estoque <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Cadastro</li>
                        <li><a href="/#/produtos">
                            <span class="glyphicon glyphicon-barcode"></span> Produtos</a></li>
                        <li><a href="/#/fabricantes">
                            <span class="glyphicon glyphicon-ice-lolly"></span> Fabricante</a></li>
                        <li><a href="/#/categorias">
                            <span class="glyphicon glyphicon-grain"></span> Categoria</a></li>
                        <li><a href="/#/unidadesdemedidas">
                            <span class="glyphicon glyphicon-scale"></span> Unidade de Medida</a></li>
                    </ul>
                </li>
                    <li><a href="/#/compra"> <span class="glyphicon glyphicon-usd"></span> Compra</a></li>
                    <li><a href="/#/venda"> <span class="glyphicon glyphicon-credit-card"></span> Venda</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-transfer"></span> Financeiro <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Movimentações</li>
                            <li><a href="/#/contasapagar">
                                <span class="glyphicon glyphicon-circle-arrow-up"></span> Contas a Pagar</a></li>
                            <li><a href="/#/contasareceber">
                                <span class="glyphicon glyphicon-circle-arrow-down"></span> Contas a Receber</a></li>
                        </ul>
                    </li>
                }
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="label label-success">@username</span>   <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        @if(username){
                        <li class="dropdown-header">Relatórios</li>
                        <li><a href="">
                            <span class="glyphicon glyphicon-credit-card"></span> Vendas</a></li>
                        <li><a href="">
                            <span class="glyphicon glyphicon-usd"></span> Compras</a></li>
                        <li><a href="">
                            <span class="glyphicon glyphicon-user"></span> Clientes</a></li>
                        <li><a href="">
                            <span class="glyphicon glyphicon-oil"></span> Fornecedores</a></li>
                        <li><a href="">
                            <span class="glyphicon glyphicon-barcode"></span> Produtos</a></li>
                        <li class="divider"></li>
                        }
                        @if(username){
                        <li class="dropdown-header">Sistema</li>
                            <li><a href="/#/configuracoes">
                                <span class="glyphicon glyphicon-tasks"></span> Configurações</a>
                            </li>
                            <li><a href="/#/ajuda">
                                <span class="glyphicon glyphicon-question-sign"></span> Ajuda</a>
                            </li>
                        <li class="divider"></li>
                        }
                        <li class="dropdown-header">Autenticação</li>
                        @if(!username){
                            <li><a href="/login">
                                <span class="glyphicon glyphicon-ok-sign"></span> Entrar</a>
                            </li>
                        }
                        @if(username){
                            <li><a href="/logout">
                                <span class="glyphicon glyphicon-off"></span> Sair</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div ng-view=""></div>
    </div>
</div>
<!--Rodapé-->
<div align="center">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                </div>
            </div>
            <p>&copy; 2015 Sistema SGM -
                <a data-template="assets/modal/informacoesModal.html" bs-modal="modalInformacoes">Powered by Play Framework e AngularJS
                </a>.Todos os direitos reservados.
            </p>
        </div>
    </footer>
</div>

<!--Jquery-->
<script src="assets/bower_components/jquery/dist/jquery.js"></script>

<!--Javascripts Personalisados-->
<script src="assets/javascripts/keymap.js"></script>
<script src="assets/javascripts/tabs.js"></script>
<script src="assets/javascripts/pagination.js"></script>

<!--AngularJS-->
<script src="assets/bower_components/angular/angular.js"></script>
<script src="assets/bower_components/angular-translate/angular-translate.js"></script>
<script src="assets/bower_components/angular-resource/angular-resource.js"></script>
<script src="assets/bower_components/angular-route/angular-route.js"></script>
<script src="assets/bower_components/angular-animate/angular-animate.js"></script>
<script src="assets/bower_components/angular-strap/dist/angular-strap.js"></script>
<script src="assets/bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
<script src="assets/bower_components/angular-toastr/dist/angular-toastr.js"></script>

<script src="assets/bower_components/bootstrap-table/src/bootstrap-table.js"></script>
<script src="assets/bower_components/bootstrap-table/src/locale/bootstrap-table-pt-BR.js"></script>

<!--Mascaras Input-->
<script src="assets/bower_components/angular-input-masks/releases/masks.js"></script>
<script src="assets/bower_components/angular-ui-utils/ui-utils.js"></script>

<!--Validações-->
<script src="assets/bower_components/br-validations/releases/br-validations.js"></script>

<!--app-->
<script src="assets/app/app.js"></script>

<!--Servicos-->
<script src="assets/app/services/EnderecoService.js"></script>
<script src="assets/app/services/baseUrl.js"></script>

<!--Locale-->
<script src="assets/bower_components/angular-i18n/angular-locale_pt-br.js"></script>

<!--Controllers AngularJS-->
<script src="assets/app/controllers/HomeController.js"></script>
<script src="assets/app/controllers/AutenticacaoController.js"></script>
<script src="assets/app/controllers/AjudaController.js"></script>
<script src="assets/app/controllers/PaisController.js"></script>
<script src="assets/app/controllers/EstadoController.js"></script>
<script src="assets/app/controllers/CidadeController.js"></script>
<script src="assets/app/controllers/BairroController.js"></script>
<script src="assets/app/controllers/ClienteController.js"></script>
<script src="assets/app/controllers/FornecedorController.js"></script>
<script src="assets/app/controllers/CategoriaController.js"></script>
<script src="assets/app/controllers/FabricanteController.js"></script>
<script src="assets/app/controllers/UnidadeDeMedidaController.js"></script>
<script src="assets/app/controllers/ProdutoController.js"></script>
<script src="assets/app/controllers/UsuarioController.js"></script>
<script src="assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>