@(url: String)
<html>
<body>
<head>
    <meta charset="UTF-8">
    <title>Página Não Encontrada</title>

    <!--Jquery-->
    <script src="assets/bower_components/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!--CSS Personalisados-->
    <link rel="stylesheet" href="assets/stylesheets/background.css"/>

</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Erro 404</h1>
                <h2>
                    Esta página não existe -> <b>@url</b></h2>
                <div class="error-actions">
                    <a href="/#/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-shopping-cart"></span>
                        Início </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Rodapé-->
<div align="center">
    <footer class="footer">
        <div class="container">
            <p>&copy; 2015 SGM - Sistema de Gestão de Mercados
        </div>
    </footer>
</div>
</body>
</html>