<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cadastrar Estado</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <fieldset>
                <div id="legend">
                    <legend>
                        <h2>
                            Cadastrar Estado <a class="btn btn-link pull-right" data-template="assets/modal/ajuda/estadoModal.html" bs-modal="modalAjuda">
                            <span class="glyphicon glyphicon-info-sign"></span><b> Ajuda</b></a>
                        </h2>
                    </legend>
                </div>
                <form ng-init="init()" class="form-horizontal" ng-submit="save()">
                    <div class="form-group">
                        <!--Input do Nome-->
                        <div class="col-lg-6">
                            <label class="control-label" for="nome">Nome</label>
                            <div ng-class="{'has-error': !estado.nome}">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-queen"></i></span>
                                    <input autofocus placeholder="Insira o nome do Estado" maxlength="35" class="form-control" type="text" ng-model="estado.nome" id="nome" required/>
                                </div>
                            </div>
                        </div>
                        <!--Input do Sigla-->
                        <div class="col-lg-2">
                            <label class="control-label" for="sigla">Sigla</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i><b>UF</b></i></span>
                                <input maxlength="2" class="form-control" type="text" ng-model="estado.sigla" id="sigla"/>
                            </div>
                        </div>
                        <!--Input do País-->
                        <div class="col-lg-4">
                            <label class="control-label" for="pais">País</label>
                            <div ng-class="{'has-error': !estado.pais}">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-king"></i></span>
                                        <select ng-model="estado.pais" class="form-control" ng-options="pais.nome for pais in paises" id="pais">
                                            <option value="">Selecione</option>
                                        </select>
                                </div>
                            </div>
                            <br>
                        </div>
                        <!--Input do Botões-->
                        <div class="col-lg-8">
                            <div class="control-group">
                                <br>
                                <button id="save" class="btn btn-success" type="submit" ng-disabled="!estado.nome || !estado.pais.id">
                                    <span class="glyphicon glyphicon-ok"></span> <b>Salvar</b>
                                </button>
                                <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                                    <span class="glyphicon glyphicon-arrow-left"></span> <b>Voltar</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </fieldset>
            <hr>
        </div>
    </div>
    <br>
</div>

<!--Rodapé-->
<div align="center">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                </div>
            </div>
            <p>&copy; 2015 Sistema SGM -
                <a data-template="assets/modal/informacoesModal.html" bs-modal="modalInformacoes">Powered by Play Framework e AngularJS
                </a>.Todos os direitos reservados.
            </p>
        </div>
    </footer>
</div>
</body>
</html>