<div class="row">
    <legend>
        <h1 class="font-style">
            <i class="fa fa-flag-o"></i> Detalhe do Estado
            <button type="button" class="btn btn-danger pull-right" ng-click="open('sm')">
                <span class="fa fa-trash"></span> Remover
            </button>
        </h1>
    </legend>
    <script type="text/ng-template" id="modalConfirmacao.html">
        <div class="modal-header">
            <h3 align="center" class="modal-title">Confirmação:</h3>
        </div>
        <div align="center" class="modal-body">
            Deseja remover o estado?
        </div>
        <div class="modal-footer">
            <button id="delete" class="btn btn-warning" ng-click="delete()"><span class="fa fa-check"></span> Sim</button>
            <button class="btn btn-default" ng-click="cancelModal()"><span class="fa fa-times"></span> Cancelar</button>
        </div>
    </script>
    <form ng-init="init()" class="form-horizontal" ng-submit="update()">
        <div class="form-group">

            <!--Input do Nome-->
            <div class="col-md-5">
                <label class="control-label" for="nome">Nome</label>
                <div ng-class="{'has-error': !estado.nome}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-flag-o"></i></span>
                        <input placeholder="Insira o nome do estado" maxlength="100" class="form-control" type="text" ng-model="estado.nome" id="nome" required/>
                    </div>
                </div>
            </div>

            <!--Input do sigla-->
            <div class="col-md-3">
                <label class="control-label" for="ddi">Sigla</label>
                <div ng-class="{'has-error': !estado.sigla}">
                    <div class="input-group">
                        <span class="input-group-addon"><i><b>UF</b></i></span>
                        <input placeholder="Unidade da Federação" ng-minlength="2" maxlength="4" class="form-control" type="text" ng-model="estado.sigla" id="ddi"/>
                    </div>
                </div>
            </div>

            <!--Input do País-->
            <div class="col-md-4">
                <label class="control-label" for="pais">País</label>
                <div ng-class="{'has-error': !estado.pais}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-flag"></i></span>
                        <select ng-model="estado.pais" class="form-control" ng-options="pais.nome for pais in paises" id="pais">
                            <option disabled ng-show="!estado.pais.id" value="">{{estado.pais.nome}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <!--Botões-->
            <div class="col-md-12">
                <div class="control-group">
                    <br>
                    <button id="save" class="btn btn-success" type="submit" ng-disabled="!estado.nome || !estado.sigla || !estado.pais.id">
                        <span class="fa fa-floppy-o"></span> Salvar
                    </button>
                    <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                        <span class="fa fa-arrow-left"></span> Voltar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>