<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Detalhe do Estado</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 well">
            <fieldset>
                <div id="legend">
                    <legend><h2>Atualizar de Estado</h2></legend>
                </div>
                <form ng-init="init()" class="form-horizontal" ng-submit="update()">
                    <div class="col-lg-6">
                        <label class="control-label" for="nome">Nome *</label>
                        <input maxlength="25" class="form-control" type="text" ng-model="estado.nome" id="nome" required/>
                    </div>
                    <div class="col-lg-2">
                        <label class="control-label" for="sigla">Sigla</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i><b>UF</b></i></span>
                            <input maxlength="2" class="form-control" type="text" ng-model="estado.sigla" id="sigla"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="control-label" for="estado.pais">País *</label>
                        <select ng-model="estado.pais" class="form-control" ng-options="pais.nome for pais in paises" id="estado.pais">
                            <option disabled ng-show="!estado.pais.id" value="">{{estado.pais.nome}}</option>
                        </select>
                        <br>
                    </div>
                    <strong>Campos obrigatórios săo marcados (*)</strong>
                    <div class="control-group">
                        <br>
                        <button type="submit" id="save" class="btn btn-success" ng-disabled="!estado.nome || !estado.pais.id">
                            <span class="glyphicon glyphicon-refresh"></span> Atualizar
                        </button>
                        <button type="reset" id="cancel" class="btn btn-default" ng-click="cancel()">
                            <span class="glyphicon glyphicon-arrow-left"></span> Voltar
                        </button>
                        <button ng-confirm-click="Confirmar a exclusão?" type="button" id="delete" class="btn btn-danger" ng-click="delete()">
                            <span class="glyphicon glyphicon-trash"></span> Remover
                        </button>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>
</body>
</html>