<div class="row">

    <!-- Header-->
    <legend>
        <h1 class="font-style">
            <i class="fa fa-flag-o"></i> Lista de Estados<a class="btn btn-success pull-right" href="#/estados/novo">
            <span class="fa fa-plus"></span> Novo Estado</a>
        </h1>
    </legend>

    <!--Input de Busca-->
    <div class="col-md-5 input-group">
        <input ng-model="nomeFiltro" autofocus type="search" class="form-control" placeholder="digite o nome do estado ou o nome do país">
            <span class="input-group-btn">
                <button ng-disabled="!nomeFiltro" class="btn btn-primary" ng-click="busca();"><span class="fa fa-search"></span> Filtrar</button>
                <button class="btn btn-default" ng-click="init();">Limpar</button>
            </span>
    </div>

    <div class="pull-right">
        <h4 class="font-style">Total de <b>{{quantidade}}</b> Registros</h4>
    </div>

    <h4 class="font-style" ng-show="estados.length == 0">Nenhum registro encontrado</h4>

    <!--Tabela-->
    <table ng-show="estados.length" ng-init="init()" class="table-striped table table-hover table-bordered">
        <tr>
            <th>Nome</th>
            <th>Sigla</th>
            <th>País</th>
        </tr>
        <tr ng-repeat="estado in estados">
            <td><b><a href="#/estados/detalhe/{{estado.id}}">{{estado.nome}}</a></b></td>
            <td>{{estado.sigla}}</td>
            <td>{{estado.pais.nome}}</td>
        </tr>
    </table>
</div>